# Fala devs, blz?? 

Esta será nossa quinta lista de exercícios para você testar seu conhecimento acerca do conteúdo do MÓDULO 3:

-Pandas I

Para esta lista de exercícios utilizaremos uma base de dados contendo informações sobre a performance de alunos em exames
. A base de dados está disponível para download na plataforma Kaggle a partir do link abaixo:

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

## QUESTÃO 0

Carregue os dados do arquivo "StudentPerformance.csv" em um DataFrame com nome "df" e mostre as primeiras suas 10 primeiras linhas. 
<br>
*Certifique-se de que o arquivo se encontra no mesmo diretorio da lista 5.

In [2]:
import pandas as pd

#seu código começa aqui

df = pd.read_csv("StudentsPerformance.csv")

df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

Agora mostre as 10 **últimas** linhas do DataFrame.

In [5]:
#SEU CÓDIGO COMEÇA AQUI
df = pd.read_csv('StudentsPerformance.csv')
df.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## QUESTÃO 1

**Exploração Inicial dos Dados**

a) Verifique o número de linhas e colunas no DataFrame. **(.shape)**

In [8]:
#SEU CÓDIGO COMEÇA AQUI
df = pd.read_csv('StudentsPerformance.csv')
tamanho = df.shape
print(tamanho)

(1000, 8)

b) Liste as colunas presentes no DataFrame. **(.columns)**

In [10]:
#SEU CÓDIGO COMEÇA AQUI
df = pd.read_csv('StudentsPerformance.csv')
for coluna in df.columns:
    print(coluna)

gender
race/ethnicity
parental level of education
lunch
test preparation course
math score
reading score
writing score

c) Verifique se há valores nulos em cada coluna.

In [15]:
#SEU CÓDIGO COMEÇA AQUI
df = pd.read_csv('StudentsPerformance.csv')
nulos = df.isnull().sum()
print(nulos)

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## QUESTÃO 2

a) Antes de começarmos a trabalhar com os dados é preciso descartar dados que não serão utilizados em nossa análise. Utilize a lista abaixo para remover colunas irrelevantes.

In [22]:
remover = ["parental level of education","lunch"]

#SEU CÓDIGO COMEÇA AQUI
df = pd.read_csv('StudentsPerformance.csv')
df = df.drop(remover, axis = 1)
print(df)

     gender race/ethnicity test preparation course  math score  reading score  \
0    female        group B                    none          72             72
1    female        group C               completed          69             90
2    female        group B                    none          90             95
3      male        group A                    none          47             57
4      male        group C                    none          76             78
..      ...            ...                     ...         ...            ...
995  female        group E               completed          88             99
996    male        group C                    none          62             55
997  female        group C               completed          59             71
998  female        group D               completed          68             78
999  female        group D                    none          77             86

     writing score
0               74
1               88
2               93
3               44
4               75
..             ...
995             95
996             55
997             65
998             77
999             86

[1000 rows x 6 columns]

b) Agora utilize o dicionário abaixo para renomear as colunas restantes.

In [28]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethinicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}
#SEU CÓDIGO COMEÇA AQUI

df = pd.read_csv('StudentsPerformance.csv')df.rename(columns = nome_colunas)
df

,Gênero,race/ethnicity,parental level of education,lunch,Curso_Prep,Nota_Matemática,Nota_Leitura,Nota_Redação
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## QUESTÃO 3

Crie um DataFrame com as estatísticas descritivas de cada coluna com valores númericos. Estatísticas descritivas incluem dados como: média, mediana, desvio padrão, mínimo e máximo para cada uma dessas colunas.

In [33]:
#SEU CÓDIGO COMEÇA AQUI
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

## QUESTÃO 4

Crie um novo DataFrame contendo apenas os alunos que tiveram nota maior que a média em todos os exames chamado "df_acima_media". Mostre o DataFrame resultante e quantos dos alunos totais estão na nova tabela.

In [48]:
#SEU CÓDIGO COMEÇA AQUI]
import pandas as pd
df = pd.read_csv('StudentsPerformance.csv')

matemática = df['math score'].mean()
leitura = df['reading score'].mean()
redação = df['writing score'].mean()

df_acima_media = df[(df['math score'] > matemática) &
                    (df['reading score'] > leitura) &
                    (df['writing score'] > redação)]
print(df_acima_media)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
..      ...            ...                         ...           ...
989  female        group D                some college  free/reduced
990    male        group E                 high school  free/reduced
995  female        group E             master's degree      standard
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
4                      none          76             78             75
5                      none          71             83             78
..                      ...         ...            ...            ...
989               completed          67             86             83
990               completed          86             81             75
995               completed          88             99             95
998               completed          68             78             77
999                    none          77             86             86

[374 rows x 8 columns]

## QUESTÃO 5

Crie uma nova coluna no Dataframe "df" com o nome "Nota_Geral" que represente a média da nota de cada aluno nas 3 disciplinas. Utilize esta nova coluna para ordenar os alunos de acordo com sua nota de forma que o aluno com maior nota geral esteja na primeira linha do DataFrame.

In [58]:
#SEU CÓDIGO COMEÇA AQUI
import pandas as pd

df = pd.read_csv('StudentsPerformance.csv')

df['Nota_Geral'] = (df['math score'] + df['reading score'] + df['writing score'])/3
df_notas = df.sort_values(by= 'Nota_Geral', ascending=False) 
df_notas

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Nota_Geral
916,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000
458,female,group E,bachelor's degree,standard,none,100,100,100,100.000000
962,female,group E,associate's degree,standard,none,100,100,100,100.000000
114,female,group E,bachelor's degree,standard,completed,99,100,100,99.666667
179,female,group D,some high school,standard,completed,97,100,100,99.000000
...,...,...,...,...,...,...,...,...,...
76,male,group E,some high school,standard,none,30,26,22,26.000000
327,male,group A,some college,free/reduced,none,28,23,19,23.333333
596,male,group B,high school,free/reduced,none,30,24,15,23.000000
980,female,group B,high school,free/reduced,none,8,24,23,18.333333
59,female,group C,some high school,free/reduced,none,0,17,10,9.000000

## QUESTÃO 6

a) Conte quantos dos alunos pertencem a cada gênero.

In [47]:
#SEU CÓDIGO COMEÇA AQUI
df = pd.read_csv('StudentsPerformance.csv')
df['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

b) Conte quantos dos alunos pertencem a cada Raça/Etnia.

In [53]:
#SEU CÓDIGO COMEÇA AQUI
df = pd.read_csv('StudentsPerformance.csv')
df['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

c) Conte quantos dos alunos realizaram ou não algum curso preparatório.

In [55]:
#SEU CÓDIGO COMEÇA AQUI
df = pd.read_csv('StudentsPerformance.csv')
df['test preparation course'].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

## QUESTÃO 7

Neste exercício deseja-se observar se o gênero de um aluno tem influência sobre seu acesso a cursos preparatórios. Para realizar esta tarefa agrupe os alunos de acordo com seus respectivos genêros (.groupby) e obtenha as proporções daqueles que realizaram algum curso e aqueles que não para cada um dos grupos (para obter a contagem da frequência relativa de um valor utilize **normalize=True**).

In [59]:
#SEU CÓDIGO COMEÇA AQUI

gender = df.groupby('gender')

media = gender["test preparation course"].value_counts(normalize=True)

media

gender  test preparation course
female  none                       0.644788
        completed                  0.355212
male    none                       0.639004
        completed                  0.360996
Name: proportion, dtype: float64

## QUESTÃO 8

Neste exercício deseja-se observar qual das disciplinas examindas (Matemática, Leitura, Redação) é mais influênciada por cada um dos fatores qualitivos (Gênero, Raça/Etnia, Realização de Curso Preparatório). Para isso, agrupe a base de dados para cada um dos fatores qualitativos e calcule a diferença entre a maior e menor nota média em cada uma das disciplinas. A disciplina que possuir maior diferença entre as notas médias será considerada a mais influênciada.

a) Qual disciplina possui a maior diferença entre as notas médias de homens e mulheres.

In [63]:
#SEU CÓDIGO COMEÇA AQUI
disciplinas = ['math score', 'reading score', 'writing score']
agrupamento = df.groupby('gender')

for i in disciplinas:
    max_media = agrupamento[disciplinas].mean().max()
    min_media = agrupamento[disciplinas].mean().min()
    diferenca = max_media - min_media
    print(f'Diferença (max/min) em {disciplinas} por Gênero: {diferenca}')

Diferença (max/min) em ['math score', 'reading score', 'writing score'] por Gênero: math score       5.095011
reading score    7.135079
writing score    9.155978
dtype: float64
Diferença (max/min) em ['math score', 'reading score', 'writing score'] por Gênero: math score       5.095011
reading score    7.135079
writing score    9.155978
dtype: float64
Diferença (max/min) em ['math score', 'reading score', 'writing score'] por Gênero: math score       5.095011
reading score    7.135079
writing score    9.155978
dtype: float64

b) Qual disciplina possui a maior diferença entre a maior e menor nota média dentre as diferentes Raças/Etnias.

In [65]:
#SEU CÓDIGO COMEÇA AQUI
disciplinas = ['math score', 'reading score', 'writing score']
agrupamento = df.groupby('race/ethnicity')

for i in disciplinas:
    max_media = agrupamento[disciplinas].mean().max()
    min_media = agrupamento[disciplinas].mean().min()
    diferenca = max_media - min_media
    print(f'Diferença (max/min) em {disciplinas} por Gênero: {diferenca}')

Diferença (max/min) em ['math score', 'reading score', 'writing score'] por Gênero: math score       12.192215
reading score     8.354414
writing score     8.732986
dtype: float64
Diferença (max/min) em ['math score', 'reading score', 'writing score'] por Gênero: math score       12.192215
reading score     8.354414
writing score     8.732986
dtype: float64
Diferença (max/min) em ['math score', 'reading score', 'writing score'] por Gênero: math score       12.192215
reading score     8.354414
writing score     8.732986
dtype: float64

c) Qual disciplina possuir a maior diferença entre as notas médias daqueles que realizaram ou não cursos preparatórios.

In [66]:
#SEU CÓDIGO COMEÇA AQUI
disciplinas = ['math score', 'reading score', 'writing score']
agrupamento = df.groupby('parental level of education')

for i in disciplinas:
    max_media = agrupamento[disciplinas].mean().max()
    min_media = agrupamento[disciplinas].mean().min()
    diferenca = max_media - min_media
    print(f'Diferença (max/min) em {disciplinas} por Gênero: {diferenca}')

Diferença (max/min) em ['math score', 'reading score', 'writing score'] por Gênero: math score        7.608008
reading score    10.668800
writing score    13.228987
dtype: float64
Diferença (max/min) em ['math score', 'reading score', 'writing score'] por Gênero: math score        7.608008
reading score    10.668800
writing score    13.228987
dtype: float64
Diferença (max/min) em ['math score', 'reading score', 'writing score'] por Gênero: math score        7.608008
reading score    10.668800
writing score    13.228987
dtype: float64

## QUESTÃO 9

Neste exercício deseja-se observar qual dos fatores qualitativos (Gênero, Raça/Etnia, Realização de Curso Preparatório) possui maior discrepância de desempenho entre suas categorias para a nota geral do exame. Para isso, calcule a diferença entre a maior e menor nota média para cada um dos fatores e indique qual teve maior diferença. Utilize as funções (.groupby) e (.mean).

Qual das colunas possui maior discrepância para as Notas Gerais?

In [70]:
#SEU CÓDIGO COMEÇA AQUI
colunas = ['gender', 'race/ethnicity', 'parental level of education']
for i in colunas:
    media = df.groupby(i)['Nota_Geral'].mean()
    dif = media.max() - media.min()
    print(f'diferença (max/min) em {i}: {dif}')

fatores = {i: df.groupby(i)['Nota_Geral'].mean().max() - df.groupby(i)['Nota_Geral'].mean().min() for i in colunas}
fator_maior_discrepancia = max(fatores, key=fatores.get)
print(f'O fator com maior discrepância para as Notas Gerais é: {fator_maior_discrepancia}')

diferença (max/min) em gender: 3.732015358571374
diferença (max/min) em race/ethnicity: 9.759871589085087
diferença (max/min) em parental level of education: 10.501931280986973
O fator com maior discrepância para as Notas Gerais é: parental level of education